.arrowdown {
  border: solid;
  border-color: #7c8288;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrowdown:hover {
  transform: rotate(225deg);
}
.arrowdown:hover {
  border-color: #258bff;
}

.main-nav__link:hover {
  color: rgb(36, 138, 255);
}
.dropdown-Settle {
  position: relative;
  display: inline-block;
}

.dropdown-content-Settle {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);

  z-index: 1;
  margin-left: 5%;

  height: 340px;
  width: 95rem;

  margin-left: 0em;
  margin-right: -8rem;
  margin-top: 1rem;

  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s;
}

.dropdown-Settle:hover .dropdown-content-Settle {
  display: block;
}

.settle-container {
  display: flex;
  flex-direction: row;
}
.settelContent {
  display: flex;

  justify-content: space-between;
  height: 266px;
  width: 282px;

  margin-top: 3%;
  margin-left: 3%;
}
.container-settle {
  display: flex;
  flex-direction: column;

  height: 250px;
  width: 150px;

  margin-top: 2%;
  margin-left: 2%;
  padding: 0.9em;
}
.container-settle-2 {
  display: flex;
  flex-direction: column;

  height: 250px;
  width: 150px;

  margin-top: 2%;

  padding: 0.9em;
}
.container-settle-3 {
  display: flex;
  flex-direction: column;

  height: 250px;
  width: 150px;

  margin-top: 2%;

  padding: 0.9em;
}

.container-settle li {
  list-style-type: none;
  width: 300px;
  margin-bottom: 0;
}
.container-settle-2 li {
  list-style-type: none;
  width: 300px;
  margin-bottom: 0;
}
.container-settle-3 li {
  list-style-type: none;
  width: 300px;
  margin-bottom: 0;
}
.settlelist {
  display: block;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  color: #50565e;
  border-bottom: none;
  padding: 7px 10px;
  -webkit-transition: 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.svgImage-settle {
  height: 340px;
  width: 51%;
  margin-left: -7%;
  float: right;
  padding: 0 2.375rem 0 3.125rem;
  background-color: #1565c1;
  background-image: -webkit-gradient(
    linear,
    right top,
    right top,
    from(#258bff),
    to(#1565c1)
  );
  background-image: linear-gradient(90deg, #258bff 0, #1565c1 100%);
  line-height: 60px;
  padding-right: 8.375rem;
}

.line-settle {
  content: "";
  position: absolute;
  height: 100%;
  top: 0px;
  left: 483px;
  background-color: rgb(255, 255, 255);
  border-right: 5px solid rgb(21, 101, 193);
  transform: skew(-22deg);
  width: 145px;
}
.svgImage-settle {
  height: 340px;
  width: 51%;
  margin-left: 0%;
  float: right;
  padding: 0px 8.375rem 0px 3.125rem;
  background-color: rgb(21, 101, 193);
  background-image: linear-gradient(
    90deg,
    rgb(37, 139, 255) 0px,
    rgb(21, 101, 193) 100%
  );
  line-height: 60px;
}
.settlelistlist a :hover {
  background-color: rgb(233, 231, 231);
  color: #1565c1;
}
.main-nav__link {
  display: block;
  padding: 10px 0.75rem 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #7c8288;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.1s !important;
  transition-delay: 0.1s !important;
  margin-left: 10%;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial;
  margin-left: 12px;
}
.settlelist {
  text-decoration: none;
}
.settlelist:hover {
  background-color: rgb(233, 231, 231);
  color: #1565c1;
}
